<body class="bg-gray-100 text-gray-700">
    <div class="container mx-auto p-5">
        <h1 class="text-xl font-bold mb-4 text-center">プライバシーポリシー</h1>
        <p class="text-center">Basketseker（以下、「当方」といいます。）は，本ウェブサイト上で提供するサービスにおける、お客様の個人情報の取扱いについて，以下のとおりプライバシーポリシーを定めます</p><br>
        <section class="mb-4">
            <h2 class="text-lg font-semibold">お客様から取得する情報</h2>
            <p>当方は、お客様から以下の情報を取得します。</p>
            <ul class="list-disc pl-5">
                <li>氏名(ニックネームやペンネームも含む)</li>
                <li>メールアドレス</li>
                <li>写真や動画</li>
                <li>Cookie(クッキー)を用いて生成された識別情報</li>
                <!-- 他のリストアイテム -->
            </ul>
        </section>
        <section class="mb-4">
            <h2 class="text-lg font-semibold">お客様の情報を利用する目的</h2>
            <p>当方は、お客様から取得した情報を、以下の目的のために利用します。</p>
            <ul class="list-disc pl-5">
                <li>氏名(ニックネームやペンネームも含む)</li>
                <li>メールアドレス</li>
                <li>写真や動画</li>
                <li>Cookie(クッキー)を用いて生成された識別情報</li>
                <!-- 他のリストアイテム -->
            </ul>
        </section>
        <section class="mb-4">
            <h2 class="text-lg font-semibold">安全管理のために講じた措置</h2>
            <p>当方が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきまし</p>
            <p>たら、法令の定めに従い個別にご回答させていただきます。</p>
        </section>
        <section class="mb-4">
            <h2 class="text-lg font-semibold">第三者提供</h2>
            <p>当方は、お客様から取得する情報のうち、個人データ（個人情報保護法第１６条第３項）に該当するものついては、あらかじめお客様の同意</p>
            <p>を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</p>
            <p>但し、次の場合は除きます。</p>
            <ul class="list-disc pl-5">
                <li>個人データの取扱いを外部に委託する場合</li>
                <li>当方や当方サービスが買収された場合</li>
                <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
                <li>その他、法律によって合法的に第三者提供が許されている場合</li>
            </ul>
        </section>
        <section class="mb-4">
            <h2 class="text-lg font-semibold">アクセス解析ツール</h2>
            <p>当方は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収</p>
            <p>集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にす</p>
            <p>れば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについ</p>
            <p>て、詳しくは以下からご確認ください。</p>
            <ul class="list-disc pl-5">
                <li><a href="https://marketingplatform.google.com/about/analytics/terms/jp/">Googleアナリティクス利用規約</a></li>
            </ul>
        </section>
        <section class="mb-4">
            <h2 class="text-lg font-semibold">プライバシーポリシーの変更</h2>
            <p>当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切</p>
            <p>な方法により周知または通知します。</p>
        </section>
        <section class="mb-4">
            <h2 class="text-lg font-semibold">お問い合わせ</h2>
            <p>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のメールアドレスにご連絡ください。</p>
            <p>e-mail</p>
            <ul class="list-disc pl-5">
                <li>basketseker.jp@gmail.com</li>
            </ul>
            <p>この場合、必ず、運転免許証のご提示等当社が指定する方法により、ご本人からのご請求であることの確認をさせていただきます。なお、情</p>
            <p>報の開示請求については、開示の有無に関わらず、ご申請時に一件あたり1,000円の事務手数料を申し受けます。</p>
        </section>
        <section class="mb-40">
            <p>2024年01月09日 制定</p>
        </section>
    </div>
</body>