<div class="mb-48">
  <div id="messages">
    <%= render @messages %>
  </div>
  <form id="chat-input" class="flex items-center justify-center">
    <input type="text" data-behavior="room_speaker" data-event-id="<%= @event.id %>" placeholder= "メッセージを入力" class="w-2/4 h-12 bg-gray-300 py-5 px-3 rounded-x">
  </form>
</div>

